*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* DEBUG */

header {

  width: 100%;
  background-color: blue;
}

footer {
  background-color: brown;
}
main {
  background-color: aquamarine;
}

.video-box {
  border: 2px solid black;
  height: 140px;
  width: 240px;
}

/* DEBUG END */


/* HEADER */

header {
  height: 75px;
}

footer {
  height: 80px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0;
  height: calc(100vh - 185px);
  width: 100%;
  overflow-y: scroll;
}